body {
  background-color: rgb(255, 255, 254);
  margin: 0 auto;
}
.container {
  width: auto;
  display: flex;
}
.personal {
  background-color: rgb(13, 75, 75);
  width: 30%;
  margin: 0;
  padding: 60px;

  color: rgb(255, 255, 255);
  text-align: justify;
  border: 1px rgb(237, 246, 238) dotted;
}

.personal_items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.resume {
  width: 70%;
  margin-top: 40px;
  padding-left: 3em;
  padding-right: 4em;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}
.date {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
h1 {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.rounded-img {
  border: 1px rgb(250, 248, 249) dotted;
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-top: 60px;
}
.profession {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
}
.photo {
  text-align: center;
  border: 1px rgb(250, 248, 249) dotted;
}
hr {
  background-color: rgb(255, 255, 255, 0.1);
  width: 10%;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.language {
  background-color: rgb(255, 255, 255, 1);
  width: 100%;
  height: 3px;
  border: none;
}

.language_1 {
  background-color: rgb(255, 255, 255, 1);
  width: 80%;
  height: 3px;
  border: none;
  margin-left: -2px;
}

.language_english {
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  height: 3px;
  border: none;
  margin-top: -23px;
}
a {
  color: rgb(255, 255, 255);
  padding-left: 40px;
}
li {
  list-style-type: none;
  line-height: 2;
}
